.ods-scrollbar__wrap--custom {
  height: 195px;
  background: #e4ecf2;
  border-radius: 8px;
  padding: 10px;
}
.ods-scrollbar__view--custom {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 12px;
}
.ods-scrollbar__view--force-horizontal {
  width: 800px
}