@font-face {
  font-family: 'Soho';
  src: url("../fonts/SohoGothicPro-Regular.eot");
  src: url("../fonts/SohoGothicPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SohoGothicPro-Regular.woff2") format("woff2"), url("../fonts/SohoGothicPro-Regular.woff") format("woff"), url("../fonts/SohoGothicPro-Regular.ttf") format("truetype"), url("../fonts/SohoGothicPro-Regular.svg#SohoGothicPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Soho';
  src: url("../fonts/SohoGothicPro-Medium.eot");
  src: url("../fonts/SohoGothicPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SohoGothicPro-Medium.woff2") format("woff2"), url("../fonts/SohoGothicPro-Medium.woff") format("woff"), url("../fonts/SohoGothicPro-Medium.ttf") format("truetype"), url("../fonts/SohoGothicPro-Medium.svg#SohoGothicPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Soho';
  src: url("../fonts/SohoGothicPro-Bold.eot");
  src: url("../fonts/SohoGothicPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SohoGothicPro-Bold.woff") format("woff"), url("../fonts/SohoGothicPro-Bold.ttf") format("truetype"), url("../fonts/SohoGothicPro-Bold.svg#SohoGothicPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
