$--color-white: #FFF !default;
$--color-black: #060E14 !default;

$--color-neutral-1: #6E767D !default;
$--color-neutral-2: #A2ACB3 !default;
$--color-neutral-3: #D5DCE0 !default;
$--color-neutral-4: #F9F9FB !default;
$--color-neutral-5: #f0f0f0 !default;

$--color-primary: #2E6C99 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 20%) !default; // #5889ad
$--color-primary-light-2: mix($--color-white, $--color-primary, 30%) !default; // #6d98b7
$--color-primary-light-3: mix($--color-white, $--color-primary, 40%) !default; // #81a6c1
$--color-primary-light-4: mix($--color-white, $--color-primary, 50%) !default; // #96b5cc
$--color-primary-light-5: mix($--color-white, $--color-primary, 60%) !default; // #abc4d6
$--color-primary-light-6: mix($--color-white, $--color-primary, 70%) !default; // #c0d3e0
$--color-primary-light-7: mix($--color-white, $--color-primary, 87%) !default; // #e3ebf1
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; // #d5e1ea
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; // #eaf0f5

$--color-secondary: #87BEE6 !default;

$--color-label: #6E767D !default;

$--color-success: #36B348 !default;
$--color-warning: #FFAB20 !default;
$--color-danger: #DE2F2F !default;
$--color-info: #7874b4 !default;

$--color-onesait-logo: #193b47;

/* Menu, Header & Main-V2-Jan-19
--------------------------*/
@function sum($items...){
  $total: 0;
  @each $item in $items {
    $total: $total + $item;
  }
  @return $total
};

$--header-height: 64px;
$--header-topbar: 48px;
$--header-padding: 16px;
$--header-mobile-padding: 8px;
$--main-nav-width: 240px;
$--main-nav-width-collapsed: 64px;
$--collapse-bottom-margin: 8px;
$--nav-collapse-bar-height: 52px;
$--main-content-height: calc(100vh - #{sum($--header-height)});
$--main-content-height--topbar: calc(100vh - #{sum($--header-height, $--header-topbar)});
$--nav-height: calc(100vh - #{sum($--header-height, $--nav-collapse-bar-height, $--collapse-bottom-margin)});
$--nav-height--topbar: calc(100vh - #{sum($--header-height, $--header-topbar, $--nav-collapse-bar-height, $--collapse-bottom-margin)});
$--main-nav-shadow: 0 4px 10px 0 rgba( $--color-black, .1 );
$--main-content-padding: 24px;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
$--breakpoint-menu: $--md;

/* Additional breakpoints
--------------------------*/
$--bp-mobile-sm: 321px !default;
$--bp-mobile-md: 575px !default;
$--bp-mobile-lg: 767px !default;
$--bp-tablet-portrait: 1023px !default;
$--bp-desktop-sm-height: 700px !default;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

:export {
  topBarBg: $--color-primary-light-9;
}