html, body {
  font-family: 'Soho', Helvetica, Arial, sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: none;
  scrollbar-width: none;
  .sb-show-main {
    .ods-storybook {
      &__basic-template {
        padding: 32px 68px;
      }
    }
    .negative-bg {
      background: blue;
    }
  }
}
